<div class="device-widget gadget%.alive|"offline;online"%" onclick="var url=('<#ROOTHTML#>pChart/?p=%.object_title%'+'.value&op=log&subop=24h&minimal=1');parent.$.fancybox.open({ src: url, type: 'iframe',iframe:{preload:false}});return false;">

   <div class = "device-icon gadget %.status|"1=on;0=off;"%"></div>
 <div class="device-details"  style="%.status|"1=color:SteelBlue ;0=color:Gainsboro;"%">%.status|"1= %.object_description%;0= %.object_description%"%
 </div>  
<div class = "device-icon gadget %.BattLevel|"
1=batt-10;2=batt-10;3=batt-10;4=batt-10;5=batt-10;6=batt-10;7=batt-10;8=batt-10;9=batt-10;10=batt-10;
11=batt-15;12=batt-15;13=batt-15;14=batt-15;15=batt-15;16=batt-25;17=batt-25;18=batt-25;19=batt-25;
20=batt-25;21=batt-25;22=batt-25;23=batt-25;24=batt-25;
25=batt-25;26=batt-25;27=batt-25;28=batt-25;29=batt-25;
30=batt-30;31=batt-30;32=batt-30;33=batt-30;34=batt-30;35=batt-30;36=batt-30;37=batt-30;38=batt-30;39=batt-30;
40=batt-30;41=batt-30;42=batt-30;43=batt-30;44=batt-30;45=batt-30;46=batt-30;47=batt-30;48=batt-30;49=batt-30;
50=batt-50;51=batt-50;52=batt-50;53=batt-50;54=batt-50;55=batt-50;56=batt-50;57=batt-50;58=batt-50;59=batt-50;
60=batt-50;61=batt-50;62=batt-50;63=batt-50;64=batt-50;65=batt-50;66=batt-50;67=batt-50;68=batt-50;69=batt-50;
70=batt-50;71=batt-50;72=batt-50;73=batt-50;74=batt-50;
75=batt-75;76=batt-75;77=batt-75;78=batt-75;79=batt-75;
80=batt-75;81=batt-75;82=batt-75;83=batt-75;84=batt-75;85=batt-75;86=batt-75;87=batt-75;88=batt-75;89=batt-75;
90=batt-90;91=batt-90;92=batt-90;93=batt-90;94=batt-90;95=batt-100;96=batt-90;97=batt-90;98=batt-90;99=batt-90;100=batt-100;"%"></div>
 <span class="device-header"  style="%.status|"1=color:OrangeRed ;0=color:transparent;"%">%.status|"1= %.BattLevel%%;0= %.BattLevel%%"%</span><span>
  
