<div class="device-widget gadget%.alive|"offline;online"%" onclick="var url=('<#ROOTHTML#>pChart/?p=%.object_title%'+'.value&op=log&subop=24h&minimal=1');parent.$.fancybox.open({ src: url, type: 'iframe',iframe:{preload:false}});return false;">

   <div class = "device-icon gadget %.status|"1=on;0=off;2=off"%"></div>
   <div class="device-header"  style="%.status|"1=color:CornflowerBlue ;0=color:Gainsboro;2=color:Gainsboro;"%">%.status|"1= %.NameGadget%;0= %.NameGadget%;2= %.NameGadget%"% 
   <span class="device-header">%.seenAt%</span></div> 
  
   <div class="device-details"  style="%.status|"1=color:SteelBlue ;0=color:Gainsboro;2=color:Gainsboro;"%">%.status|"1= %.object_description%;0= %.object_description%;2= %.object_description%"%&nbsp;
   <span class="device-details">%.CoordinatesUpdated%</span></div>
  
  <div class = "device-icon addition wifi %.status|"1=on;0=off;2=off;"%"></div>

  <div style="%.Charging|"0=color:transparent;1=color:red;"%">%.Charging|"1=🗲;0=&nbsp;"% 
  <span  class = "device-icon addition battlevel %.BattLevel|"
100=bat100;99=bat90;98=bat90;97=bat90;96=bat90;95=bat90;94=bat90;93=bat90;92=bat90;91=bat90;90=bat90;

89=bat75;88=bat75;87=bat75;86=bat75;85=bat75;84=bat75;83=bat75;82=bat75;81=bat75;80=bat75;

79=bat75;78=bat75;77=bat75;76=bat75;75=bat75;74=bat75;73=bat75;72=bat75;71=bat75;70=bat75;

69=bat75;68=bat75;67=bat75;66=bat75;65=bat75;64=bat75;63=bat75;62=bat75;61=bat-75;60=bat75;

59=bat75;58=bat75;57=bat75;56=bat75;55=bat75;54=bat75;53=bat75;52=bat75;51=bat75;50=bat50;

49=bat50;48=bat50;47=bat50;46=bat50;45=bat50;44=bat50;43=bat50;42=bat50;41=bat50;40=bat50;

39=bat50;38=bat50;37=bat50;36=bat50;35=bat50;34=bat50;33=bat50;32=bat50;31=bat50;30=bat50;
29=bat50;28=bat50;27=bat50;26=bat50;

25=bat25;25=bat25;23=bat25;22=bat25;21=bat20;19=bat25;18=bat25;17=bat25;16=bat25;

15=bat15;14=bat15;13=bat15;12=bat15;11=bat15;

10=bat10;9=bat10;8=bat10;7=bat10;6=bat10;5=bat10;4=bat10;3=bat10;2=bat10;1=bat10;
"%">
</span>
   <span  class="device-header"  style="%.status|"1=color:DimGrey ;0=color:transparent;2=color:transparent;"%">%.status|"1= %.BattLevel%%;0= %.BattLevel%%;2= %.BattLevel%"%</span>
   </div>  
 </div>
